*{
	margin:0px;
	padding:0px;
	color:#282427;
	font-family: 'Nanum Gothic', sans-serif;
}
hr#footer{
	width:100%;
	border:1px solid #FFBF00;
	margin-top:50px;
	margin-bottom:20px;
}
img.footer{
	width:200px;
	height:30px;
	margin-bottom:10px;
}
div.footer{
	text-align:center;
	display:block;
	color:gray;
	font-size:8pt;
}
div.footer p{
	display:inline-block;
	margin-bottom:5px;
}
p.copyright{
	text-align:center;
	color:gray;
	font-size:6pt;
}