table#reply{
	width:800px;
}
table#reply span{
	font-weight:bold;
	color:gray;
}
table#reply span#command{
	font-weight:normal;
	color:gray;
	font-size:10pt;
}
table#reply span#date{
	font-weight:normal;
	color:lightgray;
	font-size:10pt;
}
table#reply input{
	border:0px;
	padding:3px;
	font-size:8pt;
	background-color:#fb6a92;
	color:white;
}
div#modifyReply{
	margin-top:10px;
	background-color:#EFF5FF;
	width:780px;
	border-radius:5px;
}
div#modifyReply span{
	float:left;
	font-size:10pt;
	color:gray;
}
textarea#detailReplytext{
	width:100%;
	border-radius:5px;
}
div#modifyReply button{
	margin-bottom:10px;
}