*{
	margin:0px;
	padding:0px;
	color:#282427;
}
input[type="button"],[type="reset"]{
	width:190px;
	height:50px;
	border:0px;
	color:white;
	background-color:#fb6a92;
}
input[type="text"],[type="password"]{
	border:0px;
	width:400px;
	height:40px;
	background-color:#eeeeee;
	color:darkgray;
}
div#greeting{
	color:#1b181a;
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}
div#join{
	text-align:center;
}
table tr{
	height:50px;
}
hr#join{
	margin-left:25%;
	margin-right:25%;
	border:1px solid #fb6a92;
	margin-bottom:30px;
}