<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reply">
    
    <!-- 댓글 입력 -->
    <insert id="insertReply">
        INSERT INTO tbl_reply (bno, replytext, replyer)
        VALUES ( #{bno}, #{replytext}, #{replyer})
    </insert>
    
    <select id="listReply" resultType="com.example.project.model.dto.ReplyVO">
            SELECT rno, bno, replytext, replyer, user_name AS userName,
             r.regdate, r.updatedate
            FROM tbl_reply r, tbl_member m
            WHERE  r.replyer = m.user_id AND bno=#{bno}
            ORDER BY rno 
     </select>
     
     <select id="detailReply" resultType="com.example.project.model.dto.ReplyVO">
        select rno,bno,replytext,replyer,regdate, updatedate
        from tbl_reply
        where rno=#{rno}
     </select>
       
     <select id="updateReply">
       update tbl_reply
       set replytext=#{replytext}
       where rno=#{rno}
     </select>
     
     <delete id="deleteReply">
       delete from tbl_reply
       where rno=#{rno}
     </delete>
  </mapper>